.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-secondary);
  padding: 5px;
  border: 6px solid var(--color-border);
  border-radius: 10px;
  width: 640px;
  height: 640px;
  box-sizing: content-box;
}

.disabled:after {
  content: '';
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 2;
}
