.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #483116b8;
  padding: 5px;
  border: 6px solid #544435;
  border-radius: 10px;
  width: 640px;
  height: 640px;
  box-sizing: content-box;
}

.disabled:after {
  content: '';
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 2;
}
