@use '@/style/mixins' as mixins;

.container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  background-color: rgb(253 229 196);
  padding: 4px;
  box-shadow: 0 0 20px 2px rgb(84, 74, 63);
  border: 4px solid rgba(63, 43, 21);
  border-radius: 2%;
  width: 640px;
  height: 640px;

  @include mixins.media('tablet') {
    width: calc(100vw);
    height: calc(100vw);
  }
}

.disabled:after {
  content: '';
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 2;
}
