.borderLeftTop {
  border-top-left-radius: var(--border-radius-md);
}

.borderRightTop {
  border-top-right-radius: var(--border-radius-md);
}

.borderLeftBottom {
  border-bottom-left-radius: var(--border-radius-md);
}

.borderRightBottom {
  border-bottom-right-radius: var(--border-radius-md);
}
