.borderLeftTop {
  border-top-left-radius: 4px;
}

.borderRightTop {
  border-top-right-radius: 4px;
}

.borderLeftBottom {
  border-bottom-left-radius: 4px;
}

.borderRightBottom {
  border-bottom-right-radius: 4px;
}
