.cell {
  position: relative;
  border-radius: 2px;
  cursor: default;
  display: flex;
  justify-content: center;
  transition: box-shadow 0.05s;

  &:focus {
    outline: none;
  }

  &.white {
    background-image: url('/white_wood.svg');
  }

  &.black {
    background-image: url('/black_wood.svg');
  }

  &.selected {
    box-shadow: inset 0 0 4px 6px var(--color-selected);
  }

  &.step {
    box-shadow: inset 0 0 4px 4px var(--color-success);
  }

  &.step:hover {
    cursor: pointer;

    &::after {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }

  &.kill {
    cursor: pointer;
    box-shadow: inset 0 0 20px 6px var(--color-danger);
  }

  &.activeTeam {
    cursor: pointer;
  }

  &.castling {
    &::after {
      will-change: transform;
      transition: transform 0.3s;
      content: 'C';
      position: absolute;
      top: 50%;
      font-weight: 800;
      font-size: 24px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      &::after {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }
}
