.cell {
  position: relative;
  border-radius: 2px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  &.white {
    background-image: url('/white_wood.svg');
  } 
 
  &.black {  
    background-image: url('/black_wood.svg'); 
  }

  &.selected {
    &::after {
      content: '';
      position: absolute;
      bottom: 4px;
      border-radius: 8px;
      right: 16px;
      left: 16px;
      height: 4px;
      background: black;
    }
  }

  &.step::after {
    content: '';
    position: absolute;
    will-change: transform;
    transition: transform 0.3s;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(0 0 0) 54%, rgb(235 203 161) 61%);
    transform: translate(-50%, -50%);
  }
 
  &.step:hover {
    cursor: pointer;

    &::after {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &.kill {
    cursor: pointer; 

    &::after {
      will-change: transform;
      position: absolute;
      transition: transform 0.3s;
      content: '';
      bottom: 15px;
      border-radius: 2px;
      right: -6px;
      width: 45px;
      transform: rotate(136deg);
      background: #6f2626;
      height: 3px;
    }
  }

  &.currentTeam {
      cursor: pointer;
  }

   &.castling {
    &::after {
      will-change: transform;
      transition: transform 0.3s;
      content: 'C';
      position: absolute;
      top: 50%;
      font-weight: 800;
      font-size: 24px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      &::after {
        transform: translate(-50%, -50%) scale(1.2);
      }
    } 
  }
}  
