@use '@/style/media.scss' as media;

.board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(253 229 196);
  border-radius: 16px;
  box-shadow: 0 0 20px 2px rgb(84, 74, 63);
  border: 8px solid rgb(133 107 79);

  @include media.media('tablet') {
    background: none;
    box-shadow: none;
    border: none;
  }
}

.boardCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
