@use '@/style/media.scss' as media;
@use '@/style/mixins.scss' as mixins;

.modalWrapper {
  border-top: 1px solid transparent;
  margin-top: -1px;
}

.container {
  position: fixed;
  display: flex;
  inset: 0;
  scrollbar-width: none;
  padding: 16px 0;
  padding-block: 16px;
  overflow: scroll;

  @include media.media('tablet') {
    padding: 16px 0 0 0;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--colorOverlay);
}

.card {
  position: relative;
  display: flex;
  margin: auto;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 12px;
  padding: 0 48px 24px 48px;

  @include media.media('tablet') {
    gap: 16px;
    padding: 0 32px 24px 32px;
    margin: auto auto 0 auto;
    width: 100%;
    max-width: 460px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.header {
  background-color: inherit;
  text-align: center;
  position: sticky;
  top: 0;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  margin-bottom: 24px;

  @include media.media('tablet') {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.title {
  align-self: end;
  max-width: 300px;
  text-align: center;
}

.cross {
  @include mixins.square(24px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  border-radius: 8px;
  background-color: var(--colorPrimary);
  transition: background-color var(--speed2);

  &:hover {
    background-color: var(--colorPrimaryDim);
  }
}

.crossIcon {
  stroke-width: 6;
  @include mixins.square(12px);

  stroke: var(--colorSecondary);
}
