$breakpoints: (
  'mobileSmall': var(--breakpointMobileSmall),
  'mobileMedium': var(--breakpointMobileMedium),
  'mobileLarge': var(--breakpointMobileLarge),
  'tablet': var(--breakpointTablet),
  'laptop': var(--breakpointLaptop),
  'desktop': var(--breakpointDesktop),
  'desktopLarge': var(--breakpointDesktopLarge),
);
