.QRScanner {
  position: absolute;
  inset: 0;
  display: none;

  &__Video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    object-fit: cover;
  }

  &__Aim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
  }

  &__CloseButton {
    position: absolute;
    top: 20px;
    z-index: 1000;
    right: 20px;
    cursor: pointer;
  }

  &__UploadFileInput {
    position: absolute;
    z-index: -1;
  }

  &__UploadFileLabel {
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: green;
    border-radius: 20px;
    cursor: pointer;
  }

  &__Canvas {
    position: fixed;
    top: -9999px;
    left: -9999px;

    opacity: 0;
    pointer-events: none;
  }
}

.OpenQRScannerButton {
  border-radius: 20px;
  padding: 20px;
  color: white;
  background-color: green;
  cursor: pointer;
}
