* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 216, 216);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 10px solid black;
    width: 640px;
    height: 640px;
    box-sizing: content-box;
}
