@use '@/style/media.scss' as media;

.numset {
  width: 40px;
  height: 100;
  display: flex;
  flex-direction: column;

  @include media.media('tablet') {
    display: none;
  }
}

.number {
  width: inherit;
  height: 80px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
