.numset {
    position: absolute;
    left: -80px;
    width: 80px;
    height: inherit;
    display: flex;
    flex-direction: column;

    &.append {
        left: auto;
        right: -80px;
    }

    .number {
        width: inherit;
        height: 80px; 
        font-weight: 700;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}