.numset {
    width: 80px;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.number {
    width: inherit;
    height: 80px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}