@use '@/style/media.scss' as media;
@use '@/style/mixins.scss' as mixins;

.body {
  max-width: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  @include media.media('mobileLarge') {
    gap: 20px;
  }
}

.typography {
  text-align: left;
}

.horizontalItemConteiner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;

  @include media.media('mobileMedium') {
    flex-wrap: wrap;
    gap: 6px;
  }
}

.verticalItemConteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.configItemValues {
  width: 100%;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.teamButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  transition: opacity 0.2s, outline 0.1s;
  height: 40px;
  border-radius: var(--borderRadiusMd);
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.black {
  background-color: var(--colorSecondary);
  color: var(--colorBrightTypography);
}

.selected {
  outline: 4px solid var(--colorSelected);
}

.white {
  background-color: var(--colorPrimary);
  color: var(--colorDarkTypography);
}

.figure {
  position: static;
  @include mixins.square(40px);
}
